.App {
  background: black;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.customTitle {
  color: white;
  margin: 0;
  padding: 1em 1em 0.5em 1em;
}

.avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.userInputContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.5em;
  width: 250px;
}

.userInput {
  padding: 0.5em;
}

.userButton {
  padding: 0.5em;
}

.monkeyImage {
  width: 80%;
}

.userHelpText {
  color: white;
  margin: 0;
  padding: 0.5em;
}

.userInfoText {
  color: white;
  font-style: italic;
  margin: 0;
  padding: 0.5em 1em 1em;
}
